<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.3.198" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.3.32803.143" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.3.32804.24" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TemplateWizardInterface" version="17.3.32804.24" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.0.64" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NuGet.VisualStudio" version="17.3.0" targetFramework="net48" />
  <package id="NUglify" version="1.20.2" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="6.0.0" targetFramework="net48" />
</packages>